BASE_URL=https://api.staging.fitcall.me/api/v1

ADMIN_EMAIL=
ADMIN_PASSWORD=

CLIENT_EMAIL=
CLIENT_OTP=

TRAINER_EMAIL=
TRAINER_PASSWORD=

CLIENT_TOKEN=
TRAINER_TOKEN=
ADMIN_TOKEN=

CREATED_TRAINER_ID=
CREATED_BOOKING_ID=
BOOKING_SLOT_ID=
CREATED_CLIENT_ID=